
:root{
    --Blue: hsl(223, 87%, 63%);
    --Pale-Blue: hsl(223, 100%, 88%);
    --Light-Red: hsl(354, 100%, 66%);
    --Gray: hsl(0, 0%, 59%);
    --Very-Dark-Blue: hsl(209, 33%, 12%);

    --font-principal: 'Libre Franklin', sans-serif;
}

html{
    box-sizing: border-box;
    font-size: 62.5%;
}

*,*::before,*::after{
    box-sizing: inherit;
}

body{
    display: flex;
    justify-content: center;
    height: 100vh;
    font-family: var(--font-principal);
}

h2{ font-size: 2.5rem; }

p{ font-size: 2rem; }

img{ max-width: 100%;}

.card{
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    justify-content:space-evenly;
    width: min(90%, 60rem);
    padding: 0 2rem;
}

.card svg{
    
}

.card__title{
    font-weight: 300;
    color: var(--Gray);
}

.card__title span{
    font-weight: 700;
    color: black;
}

.card__paragraph{
    text-align: center;
    font-size: 1.2rem;
}

.card__form{
    display: flex;
    flex-direction: column;
}

.card__input{
    margin-top: 2rem;
    padding: 1rem 3rem;
    border-radius: 2rem;
    margin-bottom: 2rem;
    border: 1px solid var(--Pale-Blue);
}

.card__input::placeholder{
    color: var(--Gray);
    font-size: 1.1rem;
    font-weight: 300;
}

.card__button{
    font-size: 1.1rem;
    font-weight: 600;
    color: white;
    border: none;
    padding: 1rem;
    background-color: var(--Blue);
    border-radius: 2rem;
    -webkit-box-shadow: 0px 7px 35px -10px rgba(79,125,243,1);
    -moz-box-shadow: 0px 7px 35px -10px rgba(79,125,243,1);
    box-shadow: 0px 7px 35px -10px rgba(79,125,243,1);

